#welcome-panel {
    background-image: url(seal.png);
    min-height: 10em;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -78px -87px;
}
#icons a img{
	max-width: 128px;
}
#icons a img{
	width: 100%;
}